<? include $app_dir.'/views/head.php.html'; ?>

      <h3 style="margin-left: 30px;">
        Vi som utvecklar PROFYMA är:
      </h3>
      <div class="profile">
        <img class="crew" src="/images/micke.png" />
        <h2>Mikael Tylmad</h2>
        <p>
          Programmerare, IT-tekniker och <a href="http://www.bokus.com/bok/9789173792318/spelprogrammeringnu-med-html5-och-javascript-utgava-2/">läromedelsförfattare</a>.
        </p>
      </div>
      <div class="profile">
        <img class="crew" src="/images/ella.jpg" />
        <h2>Ella Kai-Larsen</h2>
        <p>
          Gymnasielärare i matematik och fysik på Tullinge gymnasium.
        </p>
      </div>
      <div class="profile">
        <img class="crew" src="/images/fredrik.jpg" />
        <h2>Fredrik Atmer</h2>
        <p>Programmerare, IT-tekniker och ämnesexpert inom matematik och fysik.</p>
      </div>
      <br style="clear:both;" />
      <p style="width: 620px;">
        PROFYMA har utvecklats under 2013 som ett projekt
        för <a href="http://www.internetfonden.se/">Internetfonden</a>. Internetfonden
        finansieras av <a href="http://www.iis.se/">Stiftelsen .SE</a> som jobbar med att driva på en
        positiv utveckling av Internet i Sverige.
      </p>

<? include $app_dir.'/views/footer.php.html'; ?>
