<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>PROFYMA</title>
    <link rel="stylesheet" href="styles/global.css" />
  </head>
  <body>
    <div id="top">
      <h2>PROgrammering, FYsik och MAtematik</h2>
      <h1>PROFYMA</h1>
      <form>
        <label for="email">E-post:</label>
        <input type="text" name="email" DISABLED />
        <label for="password">Lösenord:</label>
        <input type="password" name="password" DISABLED />
        <input type="submit" value="Logga in (kommer snart)" DISABLED />
      </form>
      <div id="account_links">
        <a href="/glomt">Glömt ditt lösenord?</a>
        <a href="/medlem">Bli medlem, gratis!</a>
      </div>
    </div>
    <div id="left">
      <ul>
        <li><a href="/">Senaste</a></li>
        <li><a href="/">Kategorier</a></li>
        <li><a href="/nytt">Nytt projekt</a></li>
        <li><a href="/vad">Vad är PROFYMA?</a></li>
        <li><a href="/om">Om oss</a></li>
      </ul>
    </div>
    <div id="middle">
