<? include $app_dir.'/views/head.php.html'; ?>

      <h3 style="margin-left: 50px;">
        PROgrammering, FYsik och MAtematik i ljuv symbios
      </h3>

      <p class="nice_text">
        IKT (Informations- och kommunikationsteknik) i undervisningen
        är en av de mest aktuella frågorna i skolan idag.  Enligt
        läroplanen är det skolans ansvar att varje elev ska kunna
        ”använda modern teknik som ett verktyg för kunskapssökande,
        kommunikation, skapande och lärande”.
      </p>
      <p class="nice_text">
        Att få in informationssökning och kommunikation i skolan med
        hjälp av digitala verktyg har lyckats ganska bra och känns
        idag som en naturlig del av utbildningen.
      </p>
      <p class="nice_text">
        Där man inte har kommit lika långt och det vi vill fokusera på
        är att använda digitala verktyg för skapande och lärande.
        Tanken med Profyma är att man med hjälp av programmering ska
        få en djupare förståelse för fysik och matematik. Verktyget är
        tänkt att kunna användas av lärare och elever som inte har
        några förkunskaper inom programmering.
      </p>
      <p class="nice_text">
        Samtidigt som eleverna lär sig programmering lär de sig också
        matematik och fysik. Eller om man vill, samtidigt som de lär
        sig matematik och fysik lär de sig också grundläggande
        programmering.
      </p>
      <p class="nice_text">
        Vi har i flera lektionspaket fokuserat på olika matematiska
        och fysikaliska begrepp och laborerar oss fram genom att skapa
        simuleringar och matematiska modelleringar av verkliga och
        vardagsnära förlopp. Det är ett elevaktivt och undersökande
        arbetssätt där elevernas nyfikenhet och kreativitet tas
        tillvara.
      </p>
      <p class="nice_text">
        Vissa av paketen åskådliggör annars praktiskt svårgenomförbara
        moment, tex att slå en tärning 1000 gånger. I andra paket
        använder vi oss av tankegången i programmering som hjälp för
        att lättare ta till sig matematiska begrepp, exempelvis
        funktioner. Med Profyma finns det också möjlighet att
        undersöka sådant som annars fordrar tidskrävande numeriska
        beräkningar, exempelvis luftmotstånd.
      </p>
      <p class="nice_text">
        Det finns färdiga lektionspaket men även möjlighet att skapa
        sina egna lektionspaket. Både elever och lärare kan bidra till
        en kunskapsbank av lektionsunderlag. På så sätt kan alla lätt
        komma igång, ta del av bra idéer och bli inspirerade.
      </p>
      <p class="nice_text">
        Profyma är utformat så att det ska vara lätt att arbeta med,
        både som lärare och elev och har stöd för smarta funktioner
        som kan främja pedagogisk verksamhet, tex att låta eleven
        spara sitt arbete, skapa egna projekt och skicka in uppgifter
        till sin lärare.
      </p>
      <p class="nice_text">
        Eftersom det ger sådana fördelar att gå igenom just dessa
        begrepp med hjälp av Profyma blir det lätt att uppfylla
        styrdokumentens krav på IKT i undervisningen, här är några av
        dem.
      </p>
      <p class="nice_text">
        Rektorn har ett särskilt ansvar för att utbildningen utformas
        så att eleverna får tillgång till lärverktyg för en tidsenlig
        utbildning, bl.a. datorer och andra tekniska hjälpmedel.
      </p>
      <p class="nice_text">
        Rektorn har också ett ansvar för att skolans arbete med
        kunskapsområden, där flera ämnen ska bidra och samordnas så
        att de utgör en helhet för eleven.
      </p>
      <p class="nice_text">
        I examensmålen står att Förmågan att söka, sovra, bearbeta och
        tolka information samt att tillägna sig ny teknik är viktig
        för naturvetare och matematiker. Utbildningen ska därför ge
        god vana att använda modern teknik och utrustning.
      </p>
      <p class="nice_text">
        I båda ämnesplanerna för fysik och matematik står att datorer
        eller andra digitala verktyg ska vara en del av
        undervisningen. I ämnesplanen för matematik betonar man
        särskilt vikten att varierande arbetssätt.
      </p>
      <p class="nice_text">
        Undervisningen ska innehålla varierade arbetsformer och
        arbetssätt, där undersökande aktiviteter utgör en del. När så
        är lämpligt ska undervisningen ske i relevant praxisnära
        miljö. Undervisningen ska ge eleverna möjlighet att
        kommunicera med olika uttrycks­former. Vidare ska den ge
        eleverna utmaningar samt erfarenhet av matematikens logik,
        generaliserbarhet, kreativa kvaliteter och mångfacetterade
        karaktär. Undervisningen ska stärka elevernas tilltro till sin
        förmåga att använda matematik i olika sammanhang samt ge
        utrymme åt problemlösning som både mål och medel. I
        undervisningen ska eleverna dessutom ges möjlighet att
        utveckla sin förmåga att använda digital teknik, digitala
        medier och även andra verktyg som kan förekomma inom
        karaktärsämnena.
      </p>

<? include $app_dir.'/views/footer.php.html'; ?>
